################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Strings/Tries/.vs/Tries/v15/Server/sqlite3
*.lock
